.react-calendar__tile--active {
    background: red; 
    color: white; 
    border-radius: 100%; 
    display: flex; 
    align-items: center; 
    justify-content: center; 
    box-sizing: border-box; 
    position: relative; 
}

.react-calendar__tile--active:enabled:hover {
    font-size: 1.5vw;
    background: darkred; 
}

.react-calendar__navigation button {
    font-size: 1.5vw; 
    width: 1.5vw; 
    height: 1.5vw; 
  }

.calendar {
    box-shadow: 0 8px 10px rgba(0, 0, 0, 0.2);
    border-radius: 8px; 
    border: none;
  }