.react-calendar__tile--active {
    background: red; /* Change the background color to red */
    color: white; /* Change text color for better visibility */
    border-radius: 100%; /* Make the highlight circular */
    display: flex; /* Use flexbox to center content */
    align-items: center; /* Center vertically */
    justify-content: center; /* Center horizontally */
    box-sizing: border-box; /* Include padding in the element's total width and height */
    position: relative; /* Position relative for possible pseudo-element usage */
}

.react-calendar__tile--active:enabled:hover {
    background: darkred; /* Optional: Change color on hover */
}

.calendar {
    box-shadow: 0 8px 10px rgba(0, 0, 0, 0.2);
    border-radius: 8px; 
    border: none;
  }